$primary-text-color: #fff;
$font-stack: "Poppins", sans-serif;

body {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

span {
  color: #656293;
  font-weight: 700;
}

.content {
  display: block;
  margin: 0px 165px;
  max-width: 1590px;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 38px;

  &__logo {
  }

  &__menu {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    margin: 0px 95px 0 153px;
  }

  &__item {
  }

  &__form {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-direction: row;
    align-items: center;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 746px;
    width: auto;
  }
}

.header {
  &__button {
    width: 93px;
    height: 31px;
  }
}

.button {
  background: #656293;
  border-radius: 5px;
}

.advertisement {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;

  &__discription {
    font-size: 66px;
    line-height: 77px;
    font-weight: 400;
  }
  &__link {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    margin-top: 48px;
  }

  &__item {
    color: #151515;
    text-decoration: none;
    margin-right: 9px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    color: #151515;
  }
}

.form {
  width: 1110px;
  height: 266px;
  border-radius: 12px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
  padding: 34px 30px 0 29px;
  box-sizing: border-box;

  &__navigation {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .navigation__item {
      text-decoration: none;
      color: #151515;
    }
  }

  &__box {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-top: 24px;
  }

  &__direction {
    width: 300px;
    height: 117px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    display: block;
    padding: 16px 0 0 20px;
  }

  .direction__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    margin: 4px 0 4px 0;
  }

  .diretion__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #151515;
    opacity: 0.6;
  }

  &__direction--result {
    margin-left: 30px;
    width: 381px;
    height: 117px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;

    .direction__icon {
      width: 24px;
      height: 24px;
      margin-right: 31px;
      margin-left: 25px;
    }
    .direction__slider {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #151515;
      opacity: 0.6;
    }

    .direction__box {
      min-width: 110px;
    }

    .diretion__item--rightPrev {
      margin-right: 44px;
    }
  }

  .direction__img {
    width: 28px;
    height: 28px;
    margin: auto 6px;
  }

  &__link {
    display: block;
    margin-top: 15px;
    color: #151515;
  }

  &__button {
    display: block;
    width: 233px;
    height: 80px;
    margin: -20px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 27px 31px 26px 31px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #ffffff;
    border-color: #656293;
  }

  .button__arrow {
    width: 18px;
    height: 18px;
  }
}

.info {
  margin-top: 456px;
  display: flex;
  justify-content: start;
  flex-direction: column;

  &__header {
    font-weight: 700px;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 131px;
    text-align: center;
  }
  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 65px 151px 65px 199px;
    background-image: url("/img/info_bg.png");
    background-position: left;
    background-repeat: no-repeat;

    &--buttom {
      margin-top: 50px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: end;
      background-image: url("/img/info_bg_buttom.png") ;
      transform: rotate(180deg);
      background-position: left;
      background-repeat: no-repeat;
    }

    .info__item {
      display: block;
      max-width: 463px;
      margin: 0 38px 0 38px;

      .item__header {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        margin-bottom: 14px;
      }

      .item__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: #151515;
        opacity: 0.6;
      }
    }

    .info__img {
      width: 589px;
      height: 392px;
      z-index: 1;
    }
  }
}

.specification {
  display: block;
  margin-top: 83px;
  &__items{
    display: flex;
    justify-content: center;
  }
}
