$primary-text-color: #fff;
$font-stack: "Poppins", sans-serif;

body {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

span {
  color: #656293;
  font-weight: 700;
}

a,
button {
  cursor: pointer;
}

.content {
  display: block;
  max-width: 1110px;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  // background-image: url("/img/header_bg.png");
}

.header {
  background-image: url("/img/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 745px;

  &__top {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 38px;
  }

  &__logo:hover {
    cursor: pointer;
  }

  &__menu {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    margin: 0px 95px 0 153px;
  }

  &__item {
    color: #151515;
    cursor: pointer;
  }

  .header__item {
    cursor: pointer;
  }

  &__form {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-direction: row;
    align-items: center;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 746px;
    width: auto;
  }
}

.header {
  &__button {
    width: 93px;
    height: 31px;
    cursor: pointer;
  }
}

.button {
  background: #656293;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #656293;
  box-sizing: border-box;
  cursor: pointer;
}

.advertisement {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;

  &__discription {
    font-size: 66px;
    line-height: 77px;
    font-weight: 400;
  }
  &__link {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    margin-top: 48px;
  }

  &__item {
    color: #151515;
    text-decoration: none;
    margin-right: 9px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    color: #151515;
  }
}

.form {
  width: 1110px;
  height: 266px;
  border-radius: 12px;
  background-color: #fff;
  display: block;
  margin: -125px auto 0 auto;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
  padding: 34px 30px 0 29px;
  box-sizing: border-box;

  &__navigation {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .navigation__item {
      text-decoration: none;
      color: #151515;
    }
  }

  &__box {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-top: 24px;
  }

  &__direction {
    width: 300px;
    height: 117px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    display: block;
    padding: 16px 0 0 20px;
  }

  .direction__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    margin: 4px 0 4px 0;
  }

  .diretion__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #151515;
    opacity: 0.6;
  }

  &__direction--result {
    margin-left: 30px;
    width: 381px;
    height: 117px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;

    .direction__icon {
      width: 24px;
      height: 24px;
      margin-right: 31px;
      margin-left: 25px;
    }
    .direction__slider {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #151515;
      opacity: 0.6;
    }

    .direction__box {
      min-width: 110px;
    }

    .diretion__item--rightPrev {
      margin-right: 44px;
    }
  }

  .direction__img {
    width: 28px;
    height: 28px;
    margin: auto 6px;
  }

  &__link {
    display: block;
    margin-top: 15px;
    color: #151515;
  }

  &__button {
    display: block;
    width: 233px;
    height: 80px;
    margin: -20px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 27px 31px 26px 31px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #ffffff;
    border-color: #656293;
  }

  .button__arrow {
    width: 18px;
    height: 18px;
  }
}

.info {
  margin-top: 256px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__header {
    font-weight: 700px;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 69px;
    text-align: center;
  }
  &__box {
    width: 1110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 65px 0px 65px 199px;
    background-image: url("/img/info_bg.png");
    background-position: left;
    background-repeat: no-repeat;

    &--buttom {
      margin-top: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: right;
      padding: 65px 199px 65px 0px;
      background-image: url("/img/info_bg_buttom.png");
      background-position: right;
      background-repeat: no-repeat;
    }
  }

  .item__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 14px;
  }

  .item__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #151515;
    opacity: 0.6;
  }

  .info__item {
    display: block;
    max-width: 463px;
    margin: 0 38px 0 38px;

    &--second {
    }

    .info__img {
      width: 589px;
      height: 392px;
      z-index: 1;
    }
  }
}

.specification {
  display: block;
  margin-top: 83px;
  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    background: #ffffff;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
      0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
      0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    padding: 40px 52px 51px 52px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .box__header {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #151515;
      margin: 11px auto 10px auto;
    }
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #151515;
    opacity: 0.6;
  }

  &__img {
    width: 297px;
    height: 328px;
    border-radius: 50px;
    margin: auto 30px;
  }
}

.options {
  display: block;

  &__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  &__item {
    background: #ffffff;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
      0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
      0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    padding: 9px 11px 14px 11px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  &__img {
    border-radius: 12px;
    margin-bottom: 15px;
  }
}

.membership {
  &__items {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    max-height: 926px;
  }

  &__item {
    background: #f5f5f5;
    padding: 24px;

    &--left {
      border-radius: 20px 0px 0px 20px;
    }

    &--center {
      border-radius: 20px;
    }

    &--right {
      border-radius: 0px 20px 20px 0px;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
    .min {
      font-size: 18px;
      line-height: 40px;
      font-weight: 400;
      color: #161616;
    }
  }

  svg {
    margin-right: 10px;
  }

  &__item:hover {
    background: #656293;
    position: relative;
    bottom: 30px;
    transition-duration: 1.5s;
  }

  &__item:hover > button {
    background-color: #fff;
    color: #656293;
    
  }

  &__item:hover > h2 {
    color: #fff;
  }

  &__item:hover > ul {
    color: #fff;
  }

  &__item:hover > p {
    color: #fff;
    span {
      color: #fff !important;
    }
  }

  &__item:hover > .membership__list > .membership__list-item > svg > path{
      fill: #fff;
  } 
  

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  &__discription {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #a9a9aa;
    margin-top: 30px;
    margin-bottom: 26px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 18px;
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__line {
    border: 1px dashed #a9a9aa;
    margin-bottom: 65px;
  }

  &__button {
    width: 352px;
    height: 64px;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #656293;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    transition-property: bottom;
  }
}

.plane {
  &__box {
    margin-top: 18px;
    box-sizing: border-box;
  }
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  display: block;
  background-color: #656293;

  &__logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  &__line {
    width: 1110px;
    height: 1px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 30px;
  }

  &__items {
    padding: 17px 165px 15px 165px;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 29px;
  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    opacity: 0.7;
    color: #fff;
  }

  &__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    opacity: 0.7;
  }
}
